[submodule "src/Externals/gli"]
	path = src/Externals/gli
	url = https://github.com/g-truc/gli
[submodule "src/Externals/glew"]
	path = src/Externals/glew
	url = https://github.com/Armada651/glew.git
